* {
  font-family: "Open Sans", sans-serif;
}
/*
Nav
*/
nav.bg-light {
  background-color: transparent !important;
}
a.nav-link {
  font-size: 1.5rem;
  color: #ffffff !important;
}
#App {
  border-radius: 2rem;
  font-size: 1.5rem;
}
#AppName {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
/*
Main
*/
div.sectionHeight {
  height: 100vh;
}

#first {
  background-color: #f7f7f7;
  background: url("../img/form_1.svg") no-repeat 115% -30%;
  background-size: 70rem;
}

#second {
  background-color: #d5efe6;
}

#third {
  background-color: #f7f7f7;
}

#fourth {
  background-color: #d5efe6;
}
/*
Forms
*/
#form_2 {
  position: relative;
  left: 50%;
  margin-top: 10%;
  height: 35rem;
}
#form_3 {
  position: relative;
  margin-top: 10%;
  height: 35rem;
}
#form_4 {
  position: relative;
  left: 50%;
  margin-top: 10%;
  height: 35rem;
}
#form_5 {
  position: relative;
  margin-top: 10%;
  height: 35rem;
}
/*
About
*/
p.card-text.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*
Footer
*/
footer {
  background-color: #000000;
  color: #ffffff;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
